<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Login</h1>
<hr/>

<form method="post">
    name:
    <input type="text" name="firstName"></input>
    last name:
    <input type="text" name="lastName"></input>
    password:
    <input type="text" name="password"></input>
    repeat password:
    <input type="text" name="matchingPassword"></input>
    email:
    <input type="text" name="email"></input>
    <button type="submit">Register</button>
</form>
<h3 text="${users}"></h3>
</body>
</html>