<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reply Form</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet/less" href="css/replyForm.less">

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- LESS JavaScript compiler -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js"></script>

    <script src="js/common.js"></script>
</head>
<body>

<header id="top-panel">
    <div class="row full-height">
        <div class="col-xs-4 full-height dropdown" id="extra-button-container">
            <button type="button" class="btn btn-default" onclick="dropdownExtras()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <div class="dropdown-content" id="extrasDropdown">
                <a href="#">Unanswered requests</a>
                <a href="#">All requests</a>
                <a href="#">Answered requests</a>
            </div>

        </div>
        <div class="col-xs-4 full-height"></div>
        <div class="col-xs-4 full-height" id="log-out-button-container">
            <button type="button" class="btn btn-warning">
                <span class="glyphicon glyphicon-log-in"></span>
            </button>
        </div>
    </div>
</header>


<div class="reply-container">
    <div class="field topic-field">
        <span style="margin-top: 2px; font-size: 1.5em" th:text="${userRequest.requestTopic}"><b></b></span><br>
        <span style="padding-left:5px; margin-top: 2px; font-size: 1.25em;">%From%</span>
    </div>

    <div class="field request-field">
        <span th:text="${userRequest.text}"></span>
    </div>

    <form class="field reply-form" method="post">
        <textarea name="answerInput" placeholder="Answer text" class="answer-input"
                  data-gramm_editor="false"></textarea><br>
        <input name="inputFile" type="file" style="margin: auto"><br>
        <input type="submit" value="Submit">
    </form>
</div>


</body>
</html>